@use "sass:color";
@use "variables.scss";
@use "functions.scss";

$h1-color: variables.$h1-color;
$h1-color-decoration: variables.$h1-color-decoration;
$p-odd-color: variables.$p-odd-color;
$p-even-color: variables.$p-even-color;


@mixin property($color, $border-color, $font-size: 1rem){
    color: $color;
    border: functions.size-convertion(2) solid $border-color;
    font-size: $font-size;
    padding: functions.size-convertion(16);
}

.container {
    @include property(black, red);
    margin: functions.size-convertion(16);
    text-align: center;

    & .titolo {
        color: $h1-color;
        text-decoration: underline;
        text-decoration-color: $h1-color-decoration;
        text-underline-position: under;

        &_piccolo {
            @extend .titolo;
            text-decoration: none;
            width: fit-content;
            border: functions.size-convertion(2) solid red;
            padding: functions.size-convertion(16);
            margin: functions.size-convertion(16) auto;
        }
    }
}

section:nth-child(3) {
    display: flex;
}

article {
    @include property(black, green);

    &:nth-child(odd) {
        color: $p-odd-color;
    }
    &:nth-child(even) {
        color: $p-even-color;
    }
}

.squares {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

@for $index from 1 through 20 {
    section div:nth-child(#{$index}){
        height: functions.size-convertion(45);
        width: functions.size-convertion(45);
        border: 2px solid red;
        $sfondo: rgb(255, 255, 255);
        $color: rgb(0, 0, 0);
        background-color: darken($sfondo, $index * 5%);
        color: lighten($color, $index * 5%);
        text-align: start;   
    }
    @if $index == 10{
        section div:nth-child(#{$index}){
        background-color: blue;
        color: red;
        }
    }
}

$classes: fs-1rem, fs-2rem, fs-3rem;

@each $class in $classes {
    @if $class == fs-1rem {
        .fs-1rem{
            font-size: functions.size-convertion(16); 
        }
    } @else if $class == fs-2rem {
        .fs-2rem{
            font-size: functions.size-convertion(32);
        }
    } @else {
        .fs-3rem{
            font-size: functions.size-convertion(48);
        }
    } 
}

footer {
    @include property(green, blue, 24px);
    margin-top: functions.size-convertion(16);
}